/* General Styles */
.container {
    width: 100%;
    background: #F6F4F3;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    color: var(--Black-colour, #262626);
    font-family: Inter, sans-serif;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 2rem;
}

.text span {
    font-weight: 600;
}

.logInForm {
    width: 100%;
    max-width: 490px;
    padding: 2rem;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px -4px 4px -1px rgba(0, 0, 0, 0.25) inset;
    text-align: center;
}

.logInForm input {
    width: 100%;
    max-width: 424px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid rgba(15, 15, 15, 0.50);
    color: #7D7D7D;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 2rem;
    padding-left: 20px;
}

.logInButton {
    width: 100%;
    max-width: 424px;
    height: 70px;
    padding: 23px 0;
    border-radius: 5px;
    background: #F13D31;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.logInButton:hover {
    border: 8px solid #9b3a33;
}

.logInForm span {
    color: #0F8CBA;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.logInForm span:hover {
    font-weight: 600;
}

.logInForm div {
    margin-top: 2rem;
}

.line {
    width: 100%;
    max-width: 424px;
    height: 1px;
    background: rgba(15, 15, 15, 0.44);
    margin: 2rem auto;
}

.createButton {
    height: 70px;
    width: 100%;
    max-width: 250px;
    padding: 23px 0;
    border-radius: 5px;
    background: #0F8CBA;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.createButton:hover {
    border: 1px solid #062589;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
    .logInForm {
        width: 80%;
        padding: 1.5rem;
    }
    .logInForm input {
        width: 100%;
        height: 60px;
        font-size: 18px;
    }
    .logInButton {
        width: 100%;
        height: 60px;
        font-size: 16px;
    }
    .createButton {
        width: 100%;
        height: 60px;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .text {
        font-size: 18px;
    }
    .logInForm {
        width: 90%;
        padding: 1rem;
    }
    .logInForm input {
        width: 100%;
        height: 55px;
        font-size: 16px;
    }
    .logInButton {
        width: 100%;
        height: 55px;
        font-size: 14px;
    }
    .createButton {
        width: 100%;
        height: 55px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .text {
        font-size: 16px;
        margin-top: 2rem;
    }
    .logInForm {
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
    }
    .logInForm input {
        width: 100%;
        height: 50px;
        font-size: 14px;
    }
    .logInButton {
        width: 100%;
        height: 50px;
        font-size: 14px;
    }
    .createButton {
        width: 100%;
        height: 50px;
        font-size: 14px;
    }
}
