.container{
    width: 70%;
    background: #fff;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 10rem;
    margin-right: 10rem;
    position: relative;
}
.innerContainer{
    background: #fff;
}
.personal{
    display: inline-flex;
    justify-content: space-between;
    gap: 21.6rem;
}
.personal p{
    color: #0B0C0C;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.formsDiv{
    display: flex;
    justify-content: space-between;

}
.forms{
    height: 70px;
    border-radius: 5px;
    border: 1px solid rgba(15, 15, 15, 0.50);
    width: 424px;
    margin-top: 2rem;
}
.divform{
    display: inline-flex;
    padding: 23px 29px 21px 30px;
    justify-content: center;
    align-items: flex-start;
    gap: 125px;
    height: 67px;
    width: 360px;
    border-color: #fff;
    border: none;
    color: #7D7D7D;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.divform1{
    display: inline-flex;
    padding: 23px 29px 21px 30px;
    justify-content: center;
    align-items: flex-start;
    gap: 125px;
    height: 67px;
    width: 280px;
    border-color: #fff;
    border: none;
    color: #7D7D7D;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.otp{
    width: 108px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #F13D31;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    cursor: pointer;
    margin-left: 17px;
}
.forms img{
    margin-left: 10px;
}
.picbtn{
    text-align: center;
}
.picbtn div{
    margin-top: 1rem;
}
.picbtn button{
    display: inline-flex;
    height: 70px;
    padding: 23px 55px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: #0F8CBA;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    width: 290px;
    margin-top: 9rem;
    cursor: pointer;
}

@media screen and (max-width:1024px){
    .container{
        margin-top: 2rem;
        margin-right: 6rem;
    }
    .personal p{
        font-size: 18px;
    }
    .forms{
        height: 45px;
        width: 324px;
    }
    .forms img{
        width: 23px;
        height: 20px;
    }
    .divform{
        padding: 13px 15px;
        height: 43px;
        width: 275px;
        font-size: 18px;
    }
    .divform1{
        padding: 16px 15px  ;
        height: 43px;
        width: 215px;
        font-size: 18px;
    }
    .otp{
        width: 88px;
        height: 28px;
        font-size: 14px;
    }
    .picbtn button{
        height: 55px;
        padding: 23px 55px;
        font-size: 18px;
        width: 250px;
        margin-top: 4rem;
    }
}

@media screen and (max-width:768px){
    .container{
        margin-top: 2rem;
        margin-right: 4.5rem;
    }
    .forms{
        height: 38px;
        width: 254px;
    }
    .forms img{
        width: 20px;
        height: 18px;
    }
    .divform{
        padding: 13px 15px;
        height: 35px;
        width: 205px;
        font-size: 16px;
    }
    .divform1{
        padding: 16px 15px  ;
        height: 35px;
        width: 135px;
        font-size: 18px;
    }
    .otp{
        width: 88px;
        height: 22px;
        font-size: 14px;
    }
    .picbtn button{
        height: 40px;
        padding: 2px 15px;
        font-size: 16px;
        width: 160px;
        margin-top: 2rem;
    }
}