.container{
    width: 260px;
    background: #fff;
    margin-top: 4rem;
    position: absolute;
    margin-left: -25px;
}
.innerContainer{
    align-items: center;
}
.innerContainer p{
    color: #7D7D7D;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 3rem;
    height: 67px;
    cursor: pointer;
}
.innerContainer p:hover{
    background: #E9E9E9;
    align-items: center;
    padding: 15px 4px 0px 15px;
    color: #0B0C0C;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
    border-radius: 8px; 
}

@media screen and (max-width: 1024px){
    .container{
        width: 230px;
        margin-top: 3.8rem;
    }
    .innerContainer p{
        font-size: 18px;
        height: 56px;
    }
}

@media screen and (max-width: 768px){
    .container{
        width: 195px;
        margin-top: 4rem;
        margin-left: -35px;
    }
    .innerContainer p{
        height: 41px;
        font-size: 14px;
    }
}
